<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div id="example-1">
      <button v-on:click="postArticle">New article</button>
      <p>Here is the response : {{response}}</p>
      <button v-on:click="getArticles">Get articles</button>
      <p>Here is an article : {{article}}</p>
    </div>
    <div id="app">
      {{ message }}
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
    var example1 = new Vue({
      el: '#example-1',
      data: {
        response:"",
        article:""
      },
      methods:{
        postArticle: function(event) {
          console.log("firing ?");

          axios.post('http://127.0.0.1:8080/courses', {
            "title":"Hello world",
          }, { headers: {
             "crossdomain": true,
             "Token":"DEBUGTOKEN"
          }, responseType: "json"
        })
          .then(function(response) {
            console.log(response);
          })
          .catch(function(error) {
            console.log(error.response);
          });

        },
          postArticle: function(event) {
            var data = {
                "title":"Bijour",
                "content":"Ceci est un test",
                "user":"19"
            };
              Vue.http.post('http://127.0.0.1:8080/articles/', data, {headers:{'Content-Type':'application/x-www-form-urlencoded'}})
                  .then(response => {
                  // Success Callback

                  // get status
                  this.status = response.status;

              // get status text
              this.statusText = response.statusText;

              // get 'Expires' header
              this.expiresHeader = response.headers.get('Expires');

              // get body data
              this.someData = response.body;
              console.log("OK");
              },
              response => {
                  // Error Callback
                  // get status
                  this.status = response.status;

                  // get status text
                  this.statusText = response.statusText;

                  // get 'Expires' header
                  this.expiresHeader = response.headers.get('Expires');

                  // get body data
                  this.someData = response.body;
                  console.log("NOK " + this.status + " " + this.someData);
              });

          },
        getArticles: function(event) {
          Vue.http.get('http://127.0.0.1:8080/articles/',{headers:{'Token':'DEBUGTOKEN'}})
          .then(response => {
            // Success Callback

            // get status
            this.status = response.status;

            // get status text
            this.statusText = response.statusText;

            // get 'Expires' header
            this.expiresHeader = response.headers.get('Expires');

            // get body data
            this.someData = response.body;
            console.log("OK");
          },
          response => {
            // Error Callback
            // get status
            this.status = response.status;

            // get status text
            this.statusText = response.statusText;

            // get 'Expires' header
            this.expiresHeader = response.headers.get('Expires');

            // get body data
            this.someData = response.body;
            console.log("NOK " + this.status + " " + this.someData);
          });
        }
      }
    })
  </script>
</html>
